.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0px;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.flex_container_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lists_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

@media (min-width: 1024px) {
    .content_wrapper {
        margin: 100px 0;
        gap: 40px;
    }

    .flex_container_text {
        gap: 40px;
    }

    .lists_container {
        flex-direction: row;
    }
}
